@import '../../../constantes/styles.constantes.scss';

.headerContainer h1{
    width: auto;
}

.headerContentContainer span::before{
    margin-top: 150px;
    font-size: 5rem;
}

.headerContentContainer span, .headerContentContainer h1{
    transition: 0.5s ease;
}

.headerContentContainer span:hover, .headerContentContainer h1:hover{
    color: $portfolio-color-palette; 
}
