@import '../constantes/styles.constantes';

.weatherAppHeader{
  height: 15vh;
}

.weatherAppHeader>button{
  height: 64px;
  border-radius: 50%;
}

.weatherAppContainer{
  height: 85vh;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
}

.waves{
  position: absolute;
  height: 85vh;
  right: 0;
}

.waves>svg>path{
  transition: 0.5s ease;
}

.weatherAppInfos{
  width: calc(100vw - 16px);
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  bottom: 125px;
  right: 16px;
  color: $portfolio-color-primary;
}

.weatherAppInfos>h1{
  font-size: 8rem;
}

.locationContainer{
  display: flex;
  align-items: center;
}

.locationContainer>h4{
  padding-top: 5px;
}

.weatherAppDaySelector{
  display: flex;
  position: absolute;
  bottom: 16px;
  width: calc(100vw - 50px);
  height: 90px;
  background-color: $portfolio-color-secondary;
  border-radius: 50px;
  border: 3px solid $portfolio-color-primary;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: $portfolio-color-primary;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
}

.daysContainer{
  min-width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.daysContainer p{
  margin-bottom: 0;
  font-weight: bold;
}

.dayIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid $portfolio-color-primary;
  cursor: pointer;
  transition: 0.2s ease;
}

.dayIcons:hover{
  height: 60px;
  width: 60px;
}

.dayIcons>svg{
  height: 1.5em;
  width: 1.5em;
}


/*
==========================DESKTOP==========================
*/

@media screen and (min-width: 810px) {
  .weatherAppDaySelector{
    width: 700px;
    bottom: 16px;
    justify-content: space-around;
    padding: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .weatherAppInfos{
    width: 25vw;
    bottom: 0;
    right: 32px;
  }

  .weatherAppContainer{
    justify-content: normal;
  }

  .weatherAppDaySelector{
    width: 700px;
    left: 32px;
    bottom: 32px;
    justify-content: space-around;
    padding: 0;
    overflow: hidden;
  }
}